/* AdminEnrollmentPricing.css */

.admin-enrollment-pricing-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.admin-enrollment-pricing h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.admin-enrollment-pricing form {
  display: flex;
  flex-direction: column;
}

.admin-enrollment-pricing label {
  margin: 10px 0;
  font-size: 16px;
}

.admin-enrollment-pricing input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.admin-enrollment-pricing button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.admin-enrollment-pricing button:hover {
  background-color: #0056b3;
}

.admin-enrollment-pricing ul {
  list-style: none;
  padding: 0;
}

.admin-enrollment-pricing li {
  font-size: 16px;
  margin: 5px 0;
}
