/* Profile.css */

/* Background colors */
.background {
  background-color: #000137;
}

/* Button color */
.btn-primary {
  background-color: #02198b;
  border-color: #02198b;
  color: #fff;
}

/* Text colors */
.labels {
  color: #253da1;
}

/* Container and card background colors */
.card {
  background-color: #02055a;
  color: #fff;
  border: 2px solid #253da1;
  border-radius: 0.25rem;
}

/* List group item background color */
.list-group-item {
  background-color: #80dbf1;
  border-color: #80dbf1;
}

/* Form control and input text color */
.form-control {
  background-color: #02198b;
  border-color: #253da1;
  color: #fff;
}

/* Input placeholder color */
.form-control::placeholder {
  color: #80dbf1;
}

/* Profile image border color */
.rounded-circle {
  border: 4px solid #253da1;
}

/* Day of the Week select styles */
.form-group select.form-control {
  width: 50%;
  padding: 8px;
  border: 1px solid #253DA1;
  border-radius: 4px;
  background-color: #02055A;
  color: #80DBF1;
}

/* Start and End Time input styles */
.form-group input[type="time"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #253DA1;
  border-radius: 4px;
  background-color: #02055A;
  color: #80DBF1;
}

/* Button to add timing styles */
.form-group button.btn-primary {
  background-color: #02055A;
  border: none;
  color: #80DBF1;
  cursor: pointer;
}

/* List of available timings styles */
.available-timings {
  margin-top: 20px;
}

.available-timings h3 {
  color: #80DBF1;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.available-timings ul {
  list-style-type: none;
  padding: 0;
}

.available-timings li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #253DA1;
  padding: 5px;
  margin-bottom: 5px;
  background-color: #02055A;
  color: #80DBF1;
}

.available-timings li button {
  color: #FF0000;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}


.available-timings button.btn-primary {
  background-color: #02055A;
  border: none;
  color: #80DBF1;
  cursor: pointer;
}

.join-button {
  padding: 10px 20px;
  font-size: 24px;
}
