/* Otp.css */
.otp-section {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('../../AdminComponents/images/loginbackground.jpeg') center/cover no-repeat fixed;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
  }
  
  .otp-form_data {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    text-align: center;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .otp-form_heading h1 {
    font-size: 24px;
    color: #fff;
    margin-bottom: 20px;
  }
  
  otp-form {
    margin-top: 20px;
  }
  
  .form_input {
    text-align: left;
    margin-bottom: 15px;
  }
  
  .otp-label {
    display: block;
    font-size: 30px;
    color: #fff;
    opacity: 0.8;    
    margin-bottom:10px;
  }
  
  input[type='text'] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 30px;
    outline: none;
  }
  
.otp-btn {
    width: 100%;
    margin-top :10px;
    padding: 10px;
    background: #2196F3;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s ease;
    position: relative;
  }
  
 .otp-btn:hover {
    background: #0d8bf0;
  }
  
  /* ToastContainer styling (you can adjust as needed) */
  /* .Toastify__toast {
    font-size: 14px;
    border-radius: 5px;
  } */
  