.center-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  /* min-height: 100vh; */
  margin-top: 100px;
}

.card {
  max-width: 1000px;
  margin: 0 auto;
  border: 1px solid #060303;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(196, 193, 242, 0.2);
  background: #f9f9fb;
  width: 100%; /* Adjust the width as needed */
  padding: 20px;
}
  
  .card-header {
    background-color: #02055a;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card label {
    display: block;
    margin-bottom: 10px;
  }
  
  .card select,
  .card button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .card button {
    background-color: #253DA1;
    color: #fff;
    cursor: pointer;
  }
  
  .card button:hover {
    background-color: #555;
  }
 
.join-button {
  background-color: #0e06f0;
  color: #fff;
 
}

.join-button.disabled {
  background-color: white;
  color: gray; 
  cursor: not-allowed; 
  
}
.join-button.disabled:hover {
  background-color: #fff;
}
