/* PaymentPage.css */

/* Container styles */
.payment-container {
    max-width: 500px; /* Adjust the maximum width as needed */
    margin: 100px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Heading styles */
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Pricing details styles */
  h3 {
    font-size: 20px;
    margin-top: 20px;
  }
  
  .pricing-info {
    font-size: 24px;
    margin: 5px 0;
    color : black;
  }
  
  /* Payment method styles */
  label {
    display: block;
    margin: 10px 0;
    font-size: 16px;
  }
  
  /* Button styles */
  .payment-button {
    background-color: #ce096f;
    color: #fff;
    padding: 10px 15px; /* Adjust the padding to make the button shorter */
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 50%; /* Make the button span the full width of the container */
  }
  
  .payment-button:hover {
    background-color: #0056b3;
  }
  
  /* Payment success message styles */
  .success-message {
    color: #4caf50;
    font-size: 18px;
    margin-top: 20px;
  }
  