body {
  background-image: url('../../../../public/images/checkout.jpeg'); 
  background-size: cover; 
  background-position: center;
  background-attachment: fixed; 
}
.payment-container {
    max-width: 600px; 
    margin: 100px auto;
    padding: 40px;
    background-color: #B0DBF1;
    border-color: #0056b3;
    border-radius: 5px;
    box-shadow: 2 2px 4px rgba(2, 1, 56, 0.1);
    /* background-image: url('../../../../public/images/checkout.jpeg'); */
    background-size: cover; 
    background-position: center;
  }
  
    h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
    h3 {
    font-size: 20px;
    margin-top: 20px;
  }
  
  .pricing-info {
    font-size: 24px;
    margin: 5px 0;
    color : black;
  }
  
  /* Payment method styles */
  label {
    display: block;
    margin: 10px 0;
    font-size: 16px;
  }
  
  /* Button styles */
  .payment-button {
    background-color: #253DA1;
    color: #fff;
    padding: 10px 15px; /* Adjust the padding to make the button shorter */
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 50%;
    display:flex;
    align-items: center;
  }
  
  .payment-button:hover {
    background-color: #02055A;
  }
  
  /* Payment success message styles */
  .success-message {
    color: #4caf50;
    font-size: 18px;
    margin-top: 20px;
  }
  